@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bg {
  padding: 48px 0;
  background: linear-gradient(to right, #348f50, #56b4d3);
}
.hidden {
  opacity: 0%;
}
